body {
    background-color: black;
    color: white;
    font-size: 30px;
    padding: 20px;
    text-align: center;
}

header {
    color: red;
    font-family: cursive;
    text-align: center;
    font-size: 100px;
}

img {
    border: 1px solid red;
    border-radius: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: auto;
}

ul {
    color: red;
    text-align: center;
    font-family: Impact;
}

li {
    list-style: none;
}