body {
    background-color: black;
    color: white;
}

header {
    color: red;
    font-family: cursive;

}

img {
    height: 50%;
    border: 1px solid red;
    border-radius: 4px;
    padding: 5px;
    width: 150px;

}

ul {
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}